body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #eee;
}

div.board{
    width: 100vw;
    height: 100vw;
    box-shadow: 0px 0px 5px black;
}

table.board{
    width: 100vw;
    height: 100vw;
    margin-bottom: -100vw;
}

td.lightSquare,
td.darkSquare{
    padding: 0px;
    position: relative;
}

td.lightSquare{
   background-color: #f0d9b5;
}

td.darkSquare{
   background-color: #b58863;
}

div.promotion,
div.lastMove,
div.piece,
div.selectionMarker,
div.moveOption{
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    padding: 0;
}

div.piece{
    background-size: cover;
}

div.selectionMarker{
    background-color: rgba(20,85,30,.5);
}

div.moveOption{
    background: radial-gradient(rgba(20,85,30,0.3) 17%,#208530 0,rgba(0,0,0,0.3) 0,rgba(0,0,0,0) 0);
    z-index: 9999;
}

div.promotion{
    background-color: rgba(20,85,30,.5);
    border-radius: 50%;
    transition: all 0.2s;
    z-index: 9999;
}

div.promotion:hover{
    background-color: green;
    border-radius: 0%;
}

div.lastMove{
    background-color: rgba(155,199,0,.41)
}



div.moveOption:hover{
    background: rgba(20,85,30,0.3);
}

div.player{
    width: 100vw;
    height: 20vw;
    font-size: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

div.player img.player{
    float: left;
    margin-left: 2vw;
    height: 16vw;
    box-shadow: 0px 0px 5px black;
}

div.player div.nameArea{
    float: left;
    padding-left: 2vw;
    height: 100%;
}

div.player div.clock{
    float: right;
    padding-right: 5vw;
}

#stockfishLevel select{
    border: none;
    background-color: rgba(255,255,255,0.1);
    color: inherit;
    font-size: inherit;
}

option{
    color: black;
}

div.info{
    height: 7vw;
    font-size: 5vw;
    color: #333;
    background-color: #ccc;
    text-align: center;  
    box-shadow: 0px 0px 5px black;
}