body{
    margin: 0px;
    padding: 0px;
}

div.board
{
    width: 100vw;
    height: 100vw;
    background-image: url("img/board_brown.svg");
}

div.player{
    width: 100vw;
    height: 10vw;
    background-color: lightgray;
}

div.piece{
    background-size: cover;
    position: absolute;
    height: 12.5vw;
    width: 12.5vw;
}